*   {font-family: Noto Sans KR, Nanum Gothic, 나눔고딕;}
h2  {font-weight: bold; font-size: 30px;}

/*header*/ /*header 요소 위아래 정렬*/
header  {background-color: rgb(25,55,113); display:flex; align-items: center; justify-content: flex-end;
        margin-top: 0px; margin-bottom: 0px; padding: 0px; height: 42px; overflow: hidden; width: 100%;}

header button  {float:right; margin: 4px; border-radius: 4px; height: 25px; width: 80px; font-weight: bold;
                background-color: rgb(67,116,207); color: white; border: rgb(67,116,207)}
            
.login-button   {margin-right: 70px;}

.language-select    {float:right; padding: 3px; border-radius: 4px; height: 30px; 
                    margin-top: auto; margin-bottom: auto; margin-left: 20px; 
                    background-color: rgb(6,25,52); border: rgb(6,25,52);
                    color: white; font-weight: bold; }

/*nav*/
nav {background-color: rgb(6, 25,52); height: 80px; margin-top: 0px; color: white; overflow: hidden;}

.logo    {font-weight: bolder; font-size: 25px; margin-left: 60px; float: left;}
.menu   {font-size: 18px; margin: 20px; float: right; position: relative; top: 10px;} 
.last-menu {margin-right: 70px;}
.fixed  {position: fixed; z-index:2; width: 100%;}

.mainimg        {padding-top: 122px; width: 100%;}
/*contatiner1: 공지사항, 홍보영상*/
.container1 {display: flex; justify-content: center;
            background-color: rgb(240,242,249); padding-bottom: 100px; margin-top: 0px; padding-top: 0px;}

/*공지사항*/
.announcement   {margin-right: 100px;}
.announcement-h2    {overflow: hidden;}
.announcement-h2 h2 {float: left;}
.announcement-h2 p  {float: right;}
.calender-event {display: flex; flex-flow: row; 
                border-bottom: 1px solid rgb(195,195,195); padding-bottom: 10px;}

.calender   { border: 1px solid rgb(195,195,195); border-radius: 3px; width: 70px; height: 80px; 
            text-align: center; font-weight: bold; line-height: 10px;}
.month  {font-size: 25px; color: rgb(69,137,212);}
.date   {font-size: 15px; color: rgb(153,157,184);} 
.event  {font-size: 24px; font-weight: 700; margin-left: 20px;}

.anouncement-list   {margin-top: 20px; font-weight: 500; font-size: 15px; line-height: 25px; /*li bullet 색상 바꾸기 */ 
                    overflow: hidden; list-style-type: square; color: rgb(50,50,50);}
.anounce-title  {float: left; margin-right: 100px;}
.announce-date  {float: right; color: rgb(153,157,184);}

/* 검색박스 */
.search-box {width: 1100px; height: 100px; margin-right:auto; margin-left: auto; 
            display: flex; align-items: center; justify-content: center;
            background-color: rgb(236,204,97); border-radius: 10px; box-shadow: 5px 10px 30px rgb(195,195,195);
            position: relative; top: -50px; }
.search-box p   {color:rgb(50,50,50); font-size: 30px; font-weight: bold; margin-right: 60px;}
.search {width: 600px; height: 45px; border-radius: 5px; border: 0 none white;}
.search-button  {width: 90px; height: 45px; border-radius: 3px; background-color: rgb(50,50,50); 
                color: white; border:none; font-weight:bold; }
.more-search-button {width: 90px; height: 45px; border-radius: 3px; background-color: rgba(0,0,0,0);
                    color: rgb(50,50,50); font-weight: bold; border: 1px solid rgb(50,50,50);}

/* 강좌 소개 */
.lecture-introduction   {margin-bottom: 20px;}
.introduction-category  {overflow: hidden;}
.lecture-introduction h2   {margin-left: 100px; margin-right: 300px; float: left;}
.introduction-category img  {float: center; position: relative; top: 20px;}

.lecture-container  {display: flex; flex-flow: row; padding-right: 100px; padding-left: 100px;}

/*강좌 하나 박스*/ 
.one-lecture    {border: 1px solid rgb(195,195,195); border-radius: 5px; margin: 10px; padding: 0px;
                font-weight: 500;}
.one-lecture img {width: 240px; object-fit: fill;} /* 박스에 이미지 채우는 법?*/
.lecture-category   {color:rgb(153,157,184); font-size: 15px; margin-left:20px;}
.lecture-name   {margin-left: 20px;}
.lecture-open   {border-top: 1px solid rgb(195,195,195); background-color: rgb(233,233,233);
                line-height: 15px; padding-bottom: 1px;} 
.open   {font-size: 15px; margin-left: 20px;}
.open-date  {font-size: 15px; color: rgb(153,157,184); margin-left: 20px;}

/* 하단부 */
.footer {width: 100%;}
.footer1    {background-color: rgb(48,48,48); padding: 40px; margin-top: 100px; }
.footer1 p  {color: rgb(100,100,100);}
.footer2    {background-color: black; padding: 40px; } 
.footer2 p  {font-weight: bold; color: white;}